<h3> Criar Perfil</h3>
<br>

<form class="container" #f="ngForm"(ngSubmit)="CriarPerfil(f)">

   <div class="form-row m-1">
    <div class="form-group col-md-12">
      <input type="NOME" class="form-control" name="name" ngModel placeholder="Inserir Nome Ex: Maria ">
    </div>
    </div>
  <div class="form-row m-1" >
    <div class="form-group col-md-12">
        <input type="text" class="form-control" name="idade"  ngModel placeholder="Inserir data de nascimento  00/00/0000">
    </div>

      </div>

  <div class="form-row m-1">
    <div class="form-group col-md-12">
   <input type="text" class="form-control" name="city" ngModel placeholder="Inserir cidade atual Ex: Recife ">
    </div>
  </div>


    <div class="form-row m-1">
      <div class="form-group col-md-12">

        <input type="text" class="form-control" name="musica" ngModel placeholder="Inserir genêro Musical Predileto Ex: Musica Classica ">
      </div>
    </div>

      <div class="form-row m-1">
        <div class="form-group col-md-12">

          <input type="text" class="form-control" name="filme" ngModel placeholder="Inserir Filme Predileto Ex: Ultimato ">
        </div>
      </div>


  <button type="submit" class="btn btn-primary">Entrar</button>

</form>
